<mat-list>
    <h3 class="text-white" mat-subheader>Folders</h3>
    <mat-list-item class="text-white">
        <mat-icon mat-list-icon>folder</mat-icon>
        <button mat-button>Clientes</button>
    </mat-list-item>
    <mat-list-item class="text-white">
        <mat-icon mat-list-icon>folder</mat-icon>
        <button mat-button>Administrar</button>
    </mat-list-item>
    <mat-list-item class="text-white">
        <mat-icon mat-list-icon>folder</mat-icon>
        <button mat-button>Pendientes</button>
    </mat-list-item>

</mat-list>