<!--componente toolbar-->
<app-toolbar></app-toolbar>
<mat-drawer-container class="example-container animated fadeIn fast" autosize>
    <mat-drawer mode="side" opened class="example-sidenav " mode="side">

        <!--componente sidenav-->
        <app-sidenav></app-sidenav>
    </mat-drawer>

    <div class="example-sidenav-content">
        <div class="container mt-2">
            <div class="col-md-12">
                <div class="row">
                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                        <mat-button-toggle checked value="bold">Members</mat-button-toggle>
                    </mat-button-toggle-group>

                    <p class="ml-auto">Total member: <strong> 64</strong></p>
                </div>
            </div>

            <div class="container mt-2">
                <!--componente usuarios-->
                <app-usuarios></app-usuarios>
            </div>
        </div>





    </div>

</mat-drawer-container>