<cdk-virtual-scroll-viewport class="list-container list-group animated fadeIn fast" itemSize="100%">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 animated fadeIn fast">

        <!-- Photo Column -->
        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let element">
                <img class="usuario" src="assets/img/no-image.png" alt="Photo of a Shiba Inu">
            </td>
        </ng-container>

        <!-- Member name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Member name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Mobile Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- City Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef> Operacion </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="verUsuario(element)" mat-icon-button color="primary" aria-label="ver Artista">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button color="accent" aria-label="editar Artista">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="eliminar Artista">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</cdk-virtual-scroll-viewport>